ul li{
    display:inline-block;
    /* zoom: 1; */
    margin-right: 20 px;
}

.page-item {
    margin: 20px;

}

li.active {
    color: #CD5C5C;
}

th.active {
    color: #0000FF;
}

th.active.ascended {
    color: #8A2BE2;
}

.toolbar {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}